---
import Layout from '../../layouts/Layout.astro'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'

const { section } = Astro.props
const { Content } = await section.render()
const { title, desc, image, links } = section.data
---

<Layout title={title} description={desc}>
  <Header />
  <section class="page-padding mx-auto pt-4 pb-12 flex flex-col items-center">
    <h1
      class="text-4xl md:text-6xl text-center md:leading-tight font-[500] max-w-[20ch]"
    >
      {title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h1>

    <div class="text-2xl md:text-xl max-w-[50ch] mt-12 content text-justify">
      <Content />
    </div>

    <div class="pb-8 pt-12 flex items-center gap-4">
      {
        links.map((link: { url: string; text: string }) => (
          <a
            href={link.url}
            class="block border-2 px-4 py-3 rounded-full text-2xl font-bold hover:-rotate-6 transition-transform"
          >
            {link.text}
          </a>
        ))
      }
    </div>
  </section>

  <Footer />
</Layout>

<style is:global>
  .content > p {
    margin-bottom: 1rem;
  }
</style>
