---
import Footer from '../Footer.astro'
import HeroHeader from '../Header/HeroHeader.astro'
import Layout from '../../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../utils'
import { getEntry } from 'astro:content'
import SectionCard from '../SectionCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const aMidaSection = await getEntry('sections', `${lang}/amida`)
const clubSection = await getEntry('sections', `${lang}/club`)
const empresesSection = await getEntry('sections', `${lang}/empreses`)

const translatePath = useTranslatedPath(lang)
const tallersUrl = translatePath('/tallers')
---

<Layout title={t('seo.title')} description={t('seo.desc')}>
  <main>
    <HeroHeader />

    <section id="bio" class="page-padding mx-auto pt-16 md:pt-20">
      <h2 class="text-4xl md:text-5xl text-center md:leading-tight font-[500]">
        Soc la Noor i organitzo <br /> tallers creatius
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>

      <div
        class="flex flex-wrap md:flex-nowrap gap-16 md:gap-28 items-center justify-center mt-16"
      >
        <img
          width="320"
          height="328"
          class="min-w-[320px] border-4 border-dark bg-dark rounded"
          src="/img/noor.png"
          alt="Fotos de la Noor facilitant tallerets"
        />
        <div class="text-2xl md:text-3xl max-w-[20ch]">
          <p>Fer coses amb les mans ens fa conectar amb nosaltres mateixes.</p>
          <p class="mt-6">
            A tallerets trobaràs un espai on potenciar l’expressió, la
            creativitat i la desconnexió del món digital. Alhora, un espai on
            conèixer a gent i formar comunitat.
          </p>
        </div>
      </div>
    </section>

    <h3
      class="my-16 text-4xl md:text-5xl text-center md:leading-tight font-[500]"
    >
      T'apuntes?
    </h3>
    <div class="flex items-center justify-center">
      <ul
        id="tallers"
        class="pb-12 md:pb-32 flex gap-8 justify-center flex-wrap px-4 max-w-[80ch]"
      >
        {
          aMidaSection && (
            <SectionCard
              title={aMidaSection.data.title}
              desc={aMidaSection.data.desc}
              href={aMidaSection.slug.replace('ca', '')}
              image={aMidaSection.data.image}
            />
          )
        }

        {
          clubSection && (
            <SectionCard
              title={clubSection.data.title}
              desc={clubSection.data.desc}
              href={clubSection.slug.replace('ca', '')}
              image={clubSection.data.image}
            />
          )
        }

        {
          empresesSection && (
            <SectionCard
              title={empresesSection.data.title}
              desc={empresesSection.data.desc}
              href={empresesSection.slug.replace('ca', '')}
              image={empresesSection.data.image}
            />
          )
        }

        <SectionCard
          title="Tallers monogràfics"
          desc="Descobreix els tallers monogràfics que oferim"
          href={tallersUrl}
          image={{ url: '/icons/potet.svg', alt: '' }}
        />
      </ul>
    </div>
  </main>

  <hr />
  <Footer />
</Layout>
