---
import Footer from '../sections/Footer.astro'
import Bio from '../sections/Bio.astro'
import Hero from '../sections/Hero.astro'
import Layout from '../../layouts/Layout.astro'
import { getLangFromUrl, useTranslations } from '../../utils'
import { getCollection } from 'astro:content'
import { getRelativeLocaleUrl } from 'astro:i18n'
import SectionCard from '../cards/SectionCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const allSections = await getCollection('sections', ({ id }) => {
  return id.startsWith(lang)
})

const tallersUrl = getRelativeLocaleUrl(lang, 'tallers')
const blogUrl = getRelativeLocaleUrl(lang, 'blog')
---

<Layout title={t('seo.title')} description={t('seo.desc')}>
  <main>
    <Hero />
    <Bio />

    <div class="flex items-center justify-center">
      <ul class="mb-24 flex gap-8 justify-center flex-wrap p-4 max-w-[80ch]">
        {
          allSections.map((section) => (
            <SectionCard
              title={section.data.title}
              desc={section.body}
              href={section.slug}
              image={section.data.image}
            />
          ))
        }

        <SectionCard
          title="Tallers monogràfics"
          desc="Descobreix els tallers monogràfics que oferim"
          href={tallersUrl}
          image={{
            url: '/icons/potet.svg',
            alt: '',
          }}
        />
        <!-- <SectionCard
        title="Ultimes noticies!"
        desc="Descobreix les últimes novetats!"
        image={{ url: '/icons/mida-gran.svg', alt: '' }}
        href={blogUrl}
        /> -->
      </ul>
    </div>
  </main>

  <hr />
  <Footer />
</Layout>
