---
import Footer from '../sections/Footer.astro'
import Bio from '../sections/Bio.astro'
import Hero from '../sections/Hero.astro'
import Layout from '../../layouts/BaseLayout.astro'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../utils'
import { getEntry } from 'astro:content'
import SectionCard from '../cards/SectionCard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const aMidaSection = await getEntry('sections', `${lang}/amida`)
const clubSection = await getEntry('sections', `${lang}/club`)
const empresesSection = await getEntry('sections', `${lang}/empreses`)

const translatePath = useTranslatedPath(lang)
const tallersUrl = translatePath('/tallers')

// const blogUrl = translatePath('/blog')
---

<Layout title={t('seo.title')} description={t('seo.desc')}>
  <main>
    <Hero />
    <Bio />

    <div class="flex items-center justify-center">
      <ul
        id="tallers"
        class="py-12 md:py-32 flex gap-8 justify-center flex-wrap p-4 max-w-[80ch]"
      >
        {
          aMidaSection && (
            <SectionCard
              title={aMidaSection.data.title}
              desc={aMidaSection.data.desc}
              href={aMidaSection.slug.replace('ca', '')}
              image={aMidaSection.data.image}
            />
          )
        }

        {
          clubSection && (
            <SectionCard
              title={clubSection.data.title}
              desc={clubSection.data.desc}
              href={clubSection.slug.replace('ca', '')}
              image={clubSection.data.image}
            />
          )
        }

        {
          empresesSection && (
            <SectionCard
              title={empresesSection.data.title}
              desc={empresesSection.data.desc}
              href={empresesSection.slug.replace('ca', '')}
              image={empresesSection.data.image}
            />
          )
        }

        <SectionCard
          title="Tallers monogràfics"
          desc="Descobreix els tallers monogràfics que oferim"
          href={tallersUrl}
          image={{ url: '/icons/potet.svg', alt: '' }}
        />
      </ul>
    </div>
  </main>

  <hr />
  <Footer />
</Layout>
