---
import Footer from '../sections/Footer.astro'

import Layout from '../../layouts/BaseLayout.astro'
import Header from '../sections/Header.astro'

const { taller } = Astro.props
const { Content } = await taller.render()
const { title, desc, image, links } = taller.data
---

<Layout title={title} description={desc}>
  <Header />
  <section id="bio" class="page-padding md:max-w-[72ch] mx-auto pt-8 mb-20">
    <h2
      class="text-4xl md:text-5xl text-center md:leading-tight font-[500] max-w-[16ch] mb-12 mx-auto"
    >
      Taller: {title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h2>

    <img
      width="1152"
      height="288"
      class="h-[16rem] w-full object-cover rounded-2xl mb-12 mx-auto border-4 border-dark bg-dark"
      src={image.url}
      alt={image.alt}
    />

    <div class="text-xl md:text-2xl content font-mono">
      <Content />
    </div>

    <div class="my-8 flex items-center justify-center gap-4">
      {
        links?.map((link: { url: string; text: string }) => (
          <a
            href={link.url}
            class="block border-2 px-4 py-3 rounded-full text-2xl font-bold hover:-rotate-6 transition-transform"
          >
            {link.text}
          </a>
        ))
      }
    </div>
  </section>

  <hr />

  <Footer />
</Layout>

<style>
  .content > p {
    margin-bottom: 4rem;
  }
</style>
