---
import Layout from '../../layouts/Layout.astro'
import Footer from '../sections/Footer.astro'
import Header from '../sections/Header.astro'
import { tallers, formattedEventArray, tallersArray } from '../../data/content'
import EventCard from '../cards/EventCard.astro'
import Contact from '../sections/Contact.astro'
import {
  createEventUniqueId,
  createMailToString,
  dateToWeekday,
  getMonthsWithEvents,
  getWrittenMonth,
  getLangFromUrl,
  useTranslations,
} from '../../utils'
import HowToBook from '../sections/HowToBook.astro'

const monthsWithEvents = getMonthsWithEvents()
const mailTo = createMailToString({
  title: '[TALLERET]',
  date: '[DIA]',
  time: '[HORA]',
  location: '[ESPAI]',
})

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title={t('seo.reserva.title')} description={t('seo.reserva.desc')}>
  <Header className="border-b bg-soft text-dark relative" />
  <main>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-6"
    >
      <aside class="page-padding">
        <div class="md:w-[40rem] xl:w-80 sticky top-12 pt-4">
          <h1 class="text-2xl md:text-4xl mb-4">{t('reserva.title')}</h1>
          <p class="mb-8">{t('reserva.text')}</p>
          <h2 class="text-2xl md:text-4xl mb-6">
            {t('reserva.how')}
          </h2>
          <div class="border rounded p-3">
            <HowToBook mailto={mailTo} />
          </div>
        </div>
      </aside>

      <div class="max-w-[60rem]">
        {
          monthsWithEvents.map((month) => {
            return (
              <>
                <h2 class="text-2xl md:text-4xl mb-4 text-center mt-8">
                  {getWrittenMonth(month, lang)}
                </h2>
                <ul class="page-padding flex flex-wrap gap-6 py-6 overflow-hidden justify-center">
                  {formattedEventArray
                    .filter((e) => e.date.getMonth() === month)
                    .map((e) => {
                      return (
                        <EventCard
                          id={createEventUniqueId(e)}
                          tallerId={e.tallerId}
                          title={tallers[e.tallerId]?.title[lang]}
                          date={dateToWeekday(e.date, lang)}
                          time={e.time}
                          price={e.price + '€/pax'}
                          slots={e.availability}
                          location={e.location}
                        />
                      )
                    })}
                </ul>
              </>
            )
          })
        }

        <h2 class="text-2xl md:text-4xl mb-4 text-center mt-8">
          {t('reserva.dataAdequada')}
        </h2>
        <ul
          class="page-padding flex flex-wrap gap-6 py-6 overflow-hidden justify-center"
        >
          {
            tallersArray.map((taller) => {
              return (
                <EventCard
                  id={taller.id}
                  tallerId={taller.id}
                  title={taller.title[lang]}
                  date={t('reserva.dataCustom')}
                  location={t('reserva.locCustom')}
                />
              )
            })
          }
        </ul>
      </div>
    </section>
  </main>

  <hr />
  <Contact />
  <Footer />
</Layout>

<script>
  const getDialogByHash = () =>
    document.getElementById(
      decodeURI(window.location.hash).substring(1)
    ) as HTMLDialogElement

  getDialogByHash()?.showModal()

  window.addEventListener('popstate', () => {
    getDialogByHash()?.showModal()
  })
</script>
