---
import Layout from '../../layouts/Layout.astro'
import Footer from '../../components/sections/Footer.astro'
import Header from '../../components/sections/Header.astro'
import Contact from '../../components/sections/Contact.astro'
import TallerPostcard from '../cards/TallerPostcard.astro'
import { formattedEventArray, tallersArray } from '../../data/content'
import {
  createEventUniqueId,
  dateToString,
  getLangFromUrl,
  getNextAvailableEvents,
  useTranslations,
} from '../../utils'
import { getRelativeLocaleUrl } from 'astro:i18n'

const nextEvents = getNextAvailableEvents(formattedEventArray)
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const reservaUrl = getRelativeLocaleUrl(lang, 'reserva')
---

<Layout title={t('seo.tallers.title')} description={t('seo.tallers.desc')}>
  <Header className="border-b bg-soft text-dark relative" />
  <main>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <aside class="page-padding">
        <div class="md:w-[40rem] xl:w-80 sticky top-12 pt-4">
          <h1 class="text-2xl md:text-4xl mb-6">{t('tallers.title')}</h1>
          <ul class="mb-8">
            {
              tallersArray.map((taller) => {
                return (
                  <li class="mb-1 list-decimal ms-4">
                    <a href={`#${taller.id}`} class="hover:underline">
                      {taller.title[lang]}
                    </a>
                  </li>
                )
              })
            }
          </ul>
          <div class="flex">
            <a class="c-button" href={reservaUrl}>{t('tallers.a.reserva')}</a>
          </div>
        </div>
      </aside>
      <ul class="page-padding flex flex-col gap-8 pt-6 pb-12 overflow-hidden">
        {
          tallersArray.map((taller) => {
            const relatedEvent = nextEvents.find(
              (e) => e.tallerId === taller.id
            )
            const dateString =
              dateToString(relatedEvent?.date, lang) ?? t('tallers.emptyDate')
            const eventId =
              taller.id === 'aMida'
                ? taller.id
                : relatedEvent && createEventUniqueId(relatedEvent)

            return (
              <TallerPostcard
                id={taller.id}
                title={taller.title[lang]}
                desc={taller.desc[lang]}
                imgSrc={taller.imgSrc}
                imgAlt=""
                data={dateString}
                href={`${reservaUrl}#${eventId}`}
              />
            )
          })
        }
      </ul>
    </section>
  </main>

  <hr />
  <Contact />
  <Footer />
</Layout>
