---
import { AVAILABILITY_LABELS, tallers } from '../../data/content'
import {
  createMailToString,
  getLangFromUrl,
  useTranslations,
} from '../../utils'
import HowToBook from '../sections/HowToBook.astro'

interface Props {
  id: string
  tallerId: string
  title: string
  date: string
  location: string
  slots?: string
  price?: string
  time?: string
  isDisabled?: boolean
}
const { id, tallerId, title, slots, date, location, price, time } = Astro.props

const linkedTaller = tallers[tallerId]

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const mailTo = createMailToString({ title, date, time, location, lang })
const isDisabled =
  slots === AVAILABILITY_LABELS.none /*|| new Date(date) < new Date()*/

const copyText = t('popup.copy')
const copiedText = t('popup.copied')
---

<li
  class=`border odd:-rotate-2 even:rotate-2 rounded w-56 ${isDisabled ? 'opacity-75 rotate-0' : ' hover:rotate-0 hover:text-red card transition-all'}`
>
  <button
    id={`openModal-${id}`}
    disabled={isDisabled}
    class="h-full flex flex-col w-full"
    aria-label={`${t('popup.title')}  '${title}'`}
  >
    <header class="bg-dark text-soft py-3 px-1 border-b w-full">
      <p class="font-mono uppercase">{date}</p>
    </header>
    <div class="px-4 py-3 flex flex-col w-full">
      <h3 class="mb-2 text-wrap font-bold">{title}</h3>
      <p class="mb-2">{time}</p>
      <small>{location && `☉ ${location}`}</small>
    </div>

    <div class="px-4 my-4 mt-auto flex items-center w-full">
      <p class="font-mono text-sm">{price}</p>
      <small class="text-sm block ms-auto italic">
        {slots}
      </small>
    </div>
  </button>

  <dialog
    id={id}
    class="bg-soft w-[48rem] backdrop:bg-dark backdrop:bg-opacity-50 rounded border border-dark p-4"
  >
    <div class="flex justify-between items-center mb-4 gap-2">
      <h2 class="font-bold text-xl sm:text-2xl">
        {t('popup.title')} '{title}'
      </h2>
      <button
        autofocus
        id={`closeModal-${id}`}
        class="p-2 rounded-full filter invert hover:invert-0 hover:bg-dark"
        aria-label="Cancelar reserva"
      >
        <img
          src="/icons/close.svg"
          class="min-w-6 w-6"
          width="48"
          height="48"
        />
      </button>
    </div>

    {
      linkedTaller?.desc && (
        <div class="max-w-full flex gap-4 pb-4">
          <p>{linkedTaller.desc[lang]}</p>
        </div>
      )
    }

    <button
      id={`copy-${id}`}
      class="flex gap-4 p-2 border rounded mb-4 w-full text-start items-center hover:text-red transition-all duration-150 flex-wrap"
    >
      <div class="me-auto">
        <p class="font-bold mb-3">{t('popup.details')}</p>
        <p class="uppercase">
          {date} — {time}
          <br />
          {location}
          <br />
          {price}
        </p>
      </div>
      <p class="p-4 ps-0 text-center text-lg text-red md:w-32">
        {copyText}
      </p>
    </button>

    <h3 class="text-xl font-bold mb-3">{t('reserva.how')}</h3>

    <div class="max-w-[40rem]">
      <HowToBook mailto={mailTo} />
    </div>
  </dialog>

  <script
    define:vars={{ id, title, date, time, location, copyText, copiedText }}
  >
    const eventDetails = `Talleret '${title}' del dia ${date} a les ${time} a ${location}.`
    const dialog = document.getElementById(`${id}`)
    const copyButton = document.getElementById(`copy-${id}`)
    const openButton = document.getElementById(`openModal-${id}`)
    const closeButton = document.getElementById(`closeModal-${id}`)

    closeButton.onclick = () => {
      dialog.close()
      window.history.pushState({}, '', '#')
      openButton.focus()
    }

    window.addEventListener('popstate', () => {
      dialog.close()
      openButton.focus()
    })

    openButton.onclick = () => {
      dialog.showModal()
      window.history.pushState({}, '', `#${id}`)
    }

    copyButton.onclick = () => {
      navigator.clipboard.writeText(eventDetails)
      copyButton.lastElementChild.textContent = copiedText
      setTimeout(
        () => (copyButton.lastElementChild.textContent = copyText),
        2000
      )
    }
  </script>
</li>

<style>
  .card:hover button header {
    @apply bg-red;
  }
</style>
