---
interface Props {
  title: string
  desc: string
  href: string
  image: {
    url: string
    alt: string
  }
}
const { title, desc, image, href } = Astro.props
---

<li class="p-4 overflow-clip w-80 max-h-[32rem]">
  <a href={href}>
    <img
      class="hover:rotate-3 transition-all rounded mx-auto aspect-square object-cover border-dark border-8 mb-2 bg-dark"
      src={image.url}
      alt={image.alt}
    />
    <h4 class="text-2xl font-bold">{title}</h4>
    <p class="truncate">{desc}</p>
  </a>
</li>
