---
import { constants } from '../../config'
---

<section class="page-padding flex items-center flex-wrap gap-8 py-6">
  <h3 class="text-3xl me-auto">
    per més informació, segueix-me a instagram, escriu-me o truca'm!
  </h3>

  <div class="text-xl flex gap-6 flex-wrap">
    <img
      width="96"
      height="64"
      class="w-24 text-sm text-center"
      src="icons/carta.svg"
      alt="Il·lustració de una carta amb un cor al mitg"
    />
    <div class="text-base md:text-lg">
      <p class="py-2">
        <a
          class="p-2"
          href={`https://www.instagram.com/${constants.instagramId}`}
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Perfil d'Instagram"
        >
          <b class="me-1 text-lg">♡</b>
          <span class="underline">
            @{constants.instagramId}
          </span>
        </a>
      </p>
      <address class="py-2">
        <a
          class="p-2"
          href={`mailto:${constants.email}`}
          aria-label="Enviar correu electrònic"
        >
          <b class="me-1 text-xl">✎</b>
          <span class="underline">
            {constants.email}
          </span>
        </a>
      </address>
      <address class="py-2">
        <a class="p-2" href={`tel:${constants.mobile}`} aria-label="Trucar">
          <b class="me-1 text-xl">🖁</b>
          <span class="underline">
            {constants.mobile}
          </span>
        </a>
      </address>
    </div>
  </div>
</section>
