---
import { contacts } from '../../data/contact'
import { getLangFromUrl, useTranslatedPath, useTranslations } from '../../utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const translatePath = useTranslatedPath(lang)

// const reservaUrl = translatePath(lang, 'reserva')
const tallersUrl = translatePath('/tallers')
const aboutUrl = translatePath('/sobre-mi')
const contactUrl = translatePath('/contacte')
const termsUrl = translatePath('/condicions')
const privacyUrl = translatePath('/privacitat')
---

<footer class="page-padding mx-auto bg-dark text-soft">
  <section class="flex justify-between gap-8 px-4 pt-16 pb-12">
    <div class="flex flex-col justify-center">
      <img
        src="/icons/logo-s.png"
        alt="Tallerets"
        class="w-32"
        width="260"
        height="130"
      />
      <p class="mt-2">Una pausa per crear</p>
      <p class="mt-2 opacity-60">
        Copyright © 2024 - Tots els drets reservats
      </p>
    </div>
    <div>
      <h5 class="font-bold opacity-60">LINKS</h5>
      <ul>
        <!-- <li>
          <a href={reservaUrl}>{t('footer.a.reserva')}</a>
        </li> -->
        <li>
          <a href={tallersUrl}>{t('footer.a.tallers')}</a>
        </li>
        <li>
          <a href={aboutUrl}>{t('footer.a.bio')}</a>
        </li>
        <li>
          <a href={contactUrl}>{t('footer.a.contact')}</a>
        </li>
      </ul>
    </div>
    <div>
      <h5 class="font-bold opacity-60">LEGAL</h5>
      <ul>
        <li>
          <a href={termsUrl}>{t('footer.a.terms')}</a>
        </li>
        <li>
          <a href={privacyUrl}>{t('footer.a.privacy')}</a>
        </li>
      </ul>
    </div>
    <div>
      <!-- <LangSelector /> -->
    </div>
  </section>
</footer>
<p
  class="page-padding bg-dark text-soft text-xs pb-4 pt-4 text-center text-opacity-60"
>
  {t('footer.author')}
  <a class="underline" href={contacts.webAuthorUrl}> @aymyo</a>
  {t('footer.place.year')}
  ~ Barcelona, 2024
</p>

<style>
  li {
    margin: 0.5rem 0 0;
  }
</style>
