---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { getLangFromUrl, useTranslations } from '../../utils'

interface Props {
  className: string
  isMobile?: boolean
}

const { className, isMobile } = Astro.props

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const reservaUrl = getRelativeLocaleUrl(lang, 'reserva')
const tallersUrl = getRelativeLocaleUrl(lang, 'tallers')
const aboutUrl = getRelativeLocaleUrl(lang, 'sobre-mi')
const contactUrl = getRelativeLocaleUrl(lang, 'contacte')
---

<ul class={className}>
  <li>
    <a href={reservaUrl}>{t('nav.a.reserva')}</a>
  </li>
  <li>
    <a href={tallersUrl}>{t('nav.a.tallers')}</a>
  </li>
  <li>
    <a href={aboutUrl}>{t('nav.a.bio')}</a>
  </li>
  <li>
    <a href={contactUrl} target={isMobile ? '_blank' : ''}>
      {t('nav.a.contact')}
    </a>
  </li>
</ul>

<style>
  a {
    @apply block border-2 bg-soft rounded-full text-center px-5 pb-[0.4rem] pt-[0.4rem] hover:-rotate-6 hover:border-red hover:text-red transition-transform;
  }
</style>
