---
import { getRelativeLocaleUrl } from 'astro:i18n'
import { formattedEventArray, tallers } from '../../data/content'
import {
  dateToString,
  createEventUniqueId,
  getNextAvailableEvents,
  getLangFromUrl,
  useTranslations,
} from '../../utils'
import TallerPostcard from '../cards/TallerPostcard.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const nextTwoEvents = getNextAvailableEvents(formattedEventArray).slice(0, 2)

const reservaUrl = getRelativeLocaleUrl(lang, 'reserva')
const tallersUrl = getRelativeLocaleUrl(lang, 'tallers')
---

<section id="tallerets" class="page-padding py-24">
  <h3 class="text-4xl md:text-5xl font-[500] md:text-center">
    {t('next.title')}
  </h3>

  <ul class="flex flex-col gap-8 md:flex-row md:justify-center my-24 flex-wrap">
    {
      nextTwoEvents.length !== 0 ? (
        nextTwoEvents.map((event) => {
          const taller = tallers[event.tallerId]
          if (!taller) {
            console.error(`Taller with id ${event.tallerId} not found`)
            return null
          }
          const href = `${reservaUrl}#${event && createEventUniqueId(event)}`

          return (
            <TallerPostcard
              id={event.tallerId}
              title={taller.title[lang]}
              desc={taller.desc[lang]}
              imgSrc={taller.imgSrc}
              imgAlt=""
              data={dateToString(event?.date, lang) ?? t('next.properament')}
              href={href}
            />
          )
        })
      ) : (
        <p class="text-center italic">{t('next.empty')}</p>
      )
    }
  </ul>

  <div class="flex justify-center gap-6 flex-wrap">
    <a class="c-button" href={tallersUrl}>{t('next.a.tallers')}</a>
    <a class="c-button" href={reservaUrl}>{t('next.a.reserva')}</a>
  </div>
</section>
