---
import { nextEvents, tallers, type FormattedEvent } from '../../content'
import { dateToString, createEventUniqueId } from '../../utils'
import TallerPostcard from '../TallerPostcard.astro'

const nextTwoEvents = nextEvents.slice(0, 2)

const noEventsMessage =
  "Més tallers properament! Consulta la llista completa i contacta'm si voldries organitzar-ne un."
---

<section id="tallerets" class="page-padding py-24">
  <h3 class="text-4xl md:text-5xl md:text-center">pròxims tallerets</h3>

  <ul class="flex flex-col gap-8 md:flex-row md:justify-center my-24 flex-wrap">
    {
      nextTwoEvents.length !== 0 ? (
        nextTwoEvents.map((event) => {
          const taller = tallers[event.tallerId]
          if (!taller) {
            console.error(`Taller with id ${event.tallerId} not found`)
            return null
          }
          const href = `/reserva#${event && createEventUniqueId(event)}`

          return (
            <TallerPostcard
              id={event.tallerId}
              title={taller.title}
              desc={taller.desc}
              imgSrc={taller.imgSrc}
              imgAlt={taller.imgAlt}
              data={dateToString(event?.date) ?? 'Properament'}
              href={href}
            />
          )
        })
      ) : (
        <p class="text-center italic">{noEventsMessage}</p>
      )
    }
  </ul>

  <div class="flex justify-center gap-6 flex-wrap">
    <a class="c-button" href="/tallers">tots els tallers</a>
    <a class="c-button" href="/reserva">calendari i reserves</a>
  </div>
</section>
