---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import { constants } from '../config'

const currentHref = Astro.url.href
---

<Layout title="tallerets">
  <Header />
  <main
    class="flex flex-col items-center justify-center text-center pb-16 min-h-[calc(100vh-8rem)]"
  >
    <span class="text-7xl">🛑</span>
    <h2 class="text-4xl mt-8">Ui! Aquesta pàgina no s'ha trobat!</h2>
    <small class="font-mono mt-4">{currentHref} - Codi de error 404</small>
    <h3 class="text-lg mt-8 max-w-[40ch]">
      Potser se m'ha traspapelat o potser no ha existit mai. Si estàs segur que
      aquesta pàgina hauria d'existir, contacta'm a Instragam
      <a
        class="underline"
        href={`https://www.instagram.com/${constants.instagramId}`}
        target="_blank"
        rel="noopener noreferrer"
      >
        @{constants.instagramId}
      </a>
      o escriu un email a{' '}
      <a class="underline" href={`mailto:${constants.email}`}>
        {constants.email}
      </a>.
    </h3>

    <div class="flex justify-center gap-6 flex-wrap mt-8">
      <a class="c-button" href="/tallers">tots els tallers</a>
      <a class="c-button" href="/reserva">calendari i reserves</a>
      <a class="c-button" href="/">torna a l'inici</a>
    </div>
  </main>

  <hr />
  <Footer />
</Layout>
