---
import Layout from '../layouts/Layout.astro'
import { constants } from '../config'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { events, tallers } from '../content'
import EventCard from '../components/EventCard.astro'
---

<Layout title="tallerets: calendari">
  <Header className="border-b bg-soft text-dark relative" />
  <main>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-6"
    >
      <aside class="page-padding">
        <div class="md:w-[40rem] xl:w-80 sticky top-12 pt-4">
          <h2 class="text-xl md:text-2xl mb-4">calendari</h2>
          <p class="mb-8">
            Aquí tens els pròxims tallerets que estic organitzant. Si no hi ha
            cap data que t’interessi, pots reservar un talleret a mida per a tu
            i els teus.
          </p>
          <h3 class="text-xl md:text-2xl mb-4">reserves</h3>
          <p class="mb-8">
            Envia'm un email a
            <a class="underline" href={`mailto:${constants.email}`}>
              {constants.email}
            </a>
            amb el talleret que vols fer i la data. Et respondré amb la informació
            per fer el pagament i confirmar la teva plaça.
          </p>

          <h4 class="text-xl md:text-2xl mb-4">cancel·lacions</h4>
          <p>
            Si has de cancel·lar la teva plaça, avisa'm amb un mínim de 48h
            d’antelació i et retornaré el 100% del pagament. Si avises amb menys
            de 48h d’antelació, no es retorna el pagament.
          </p>
        </div>
      </aside>
      <div class="max-w-[120ch]">
        <ul class="page-padding flex flex-wrap gap-4 py-6 overflow-hidden">
          {
            events.map((event) => {
              return (
                <EventCard
                  title={event.title}
                  date={event.date}
                  time={event.time}
                  price={event.price}
                  slots={event.slots}
                  location={event.location}
                />
              )
            })
          }
        </ul>
      </div>
    </section>

    <hr />

    <Footer />
  </main>
</Layout>
