---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import Contact from '../components/sections/Contact.astro'
import TallerPostcard from '../components/TallerPostcard.astro'
import { tallersArray, nextEvents } from '../content'
import { createEventUniqueId, dateToString } from '../utils'
---

<Layout title="tallerets: llista">
  <Header className="border-b bg-soft text-dark relative" />
  <main>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <aside class="page-padding">
        <div class="md:w-[40rem] xl:w-80 sticky top-12 pt-4">
          <h1 class="text-2xl md:text-4xl mb-4">tots els tallerets</h1>
          <ul class="mb-8">
            {
              tallersArray.map((taller) => {
                return (
                  <li class="mb-1 list-decimal ms-4">
                    <a href={`#${taller.id}`} class="hover:underline">
                      {taller.title}
                    </a>
                  </li>
                )
              })
            }
            <li class="mb-1 list-decimal ms-4">
              <a href="#taller-a-mida" class="hover:underline">
                Tens alguna idea? Tallers a mida!
              </a>
            </li>
          </ul>
          <div class="flex">
            <a class="c-button" href="/reserva">veure calendari</a>
          </div>
        </div>
      </aside>
      <ul class="page-padding flex flex-col gap-8 pt-6 pb-12 overflow-hidden">
        {
          tallersArray.map((taller) => {
            const relatedEvent = nextEvents.find(
              (e) => e.tallerId === taller.id,
            )
            const dateString =
              dateToString(relatedEvent?.date) ?? "Contacta'm per mes dates"

            const href = `/reserva#${
              relatedEvent && createEventUniqueId(relatedEvent)
            }`

            return (
              <TallerPostcard
                id={taller.id}
                title={taller.title}
                desc={taller.desc}
                imgSrc={taller.imgSrc}
                imgAlt={taller.imgAlt}
                data={dateString}
                href={href}
              />
            )
          })
        }
      </ul>
    </section>
  </main>

  <hr />
  <Contact />
  <Footer />
</Layout>
