---
import Layout from '../layouts/Layout.astro'
import { constants } from '../config'
import Footer from '../components/Footer.astro'
import Taller from '../components/Taller.astro'
import Header from '../components/Header.astro'
import { tallers } from '../content'
---

<Layout title="tallerets: calendari">
  <Header className="border-b bg-soft text-dark relative" />

  <main>
    <section class="page-padding mx-auto pt-16">
      <h2 id="calendari" class="text-4xl md:text-5xl mb-16">
        Tots els tallerets!
      </h2>

      <div class="flex flex-col gap-4 md:flex-row">
        {
          tallers.map((taller) => {
            return (
              <Taller
                title={taller.title}
                desc={taller.desc}
                imgSrc={taller.imgSrc}
                imgAlt={taller.imgAlt}
              />
            )
          })
        }
      </div>
    </section>

    <section class="page-padding md:max-w-[50ch] mx-auto pt-20">
      <h3 class="pb-8 my-2 text-2xl md:text-3xl md:text-center">
        Com reservar?
      </h3>

      <p>
        Envia'm un email a
        <a class="underline" href={`mailto:${constants.email}`}>
          {constants.email}
        </a>
        amb el talleret que vols fer i la data. Et respondré amb la informació per
        fer el pagament i confirmar la teva plaça.
      </p>

      <h4 class="py-8 my-2 text-2xl md:text-3xl md:text-center">
        Cancelacions
      </h4>

      <p class="pb-12">
        Si has de cancel·lar la teva plaça, avisa'm amb un mínim de 48h
        d’antelació i et retornaré el 100% del pagament. Si avises amb menys de
        48h d’antelació, no es retorna el pagament.
      </p>
    </section>

    <hr />

    <Footer />
  </main>
</Layout>
