---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/sections/Footer.astro'
import Header from '../components/sections/Header.astro'
import { tallersArray, formattedEventArray } from '../content'
import TallerPostcard from '../components/TallerPostcard.astro'
import Contact from '../components/sections/Contact.astro'
import Reserves from '../components/sections/Reserves.astro'
---

<Layout title="tallerets: llista">
  <Header className="border-b bg-soft text-dark relative" />
  <main>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-6"
    >
      <aside class="page-padding">
        <div class="md:w-[40rem] xl:w-80 sticky top-12 pt-4">
          <h2 class="text-xl md:text-2xl mb-4">tots els tallerets</h2>
          <ul class="mb-8">
            {
              tallersArray.map((taller) => {
                return (
                  <li class="mb-1 list-decimal ms-4">
                    <a href={`#${taller.id}`} class="hover:underline">
                      {taller.title}
                    </a>
                  </li>
                )
              })
            }
          </ul>
          <div class="flex mb-8">
            <a class="c-button" href="/reserva">veure calendari</a>
          </div>
          <Reserves />
        </div>
      </aside>
      <ul class="page-padding flex flex-col gap-8 py-6 overflow-hidden">
        {
          tallersArray.map((taller) => {
            const relatedEvent = formattedEventArray.find(
              (e) => e.tallerId === taller.id,
            )
            const dateString =
              relatedEvent?.date.toLocaleString('ca-ES', {
                year: 'numeric',
                month: 'long',
                day: 'numeric',
              }) ?? 'Properament'
            return (
              <>
                <TallerPostcard
                  id={taller.id}
                  title={taller.title}
                  desc={taller.desc}
                  imgSrc={taller.imgSrc}
                  imgAlt={taller.imgAlt}
                  data={dateString}
                  href={`/reserva#${relatedEvent?.tallerId}${dateString}`}
                />
              </>
            )
          })
        }
      </ul>
    </section>
  </main>

  <hr />
  <Contact />
  <Footer />
</Layout>
