---
const { id, title, slots, date, location, price, link, time } = Astro.props
---

<div id={id} class="border rounded w-72 flex flex-col">
  <header class="bg-dark text-soft flex justify-center p-2 border-b font-bold">
    <p>{date} — {time}</p>
  </header>
  <div class="px-4 py-3 flex flex-col">
    <h6 class="uppercase pb-3 text-wrap">{title}</h6>

    <small>({location})</small>
  </div>
  <div class="px-4 pb-3 mt-auto flex items-center">
    <p class="text-xl">{price}€</p>
    <small class="text-sm block ms-auto italic"
      >{slots} places disponibles</small
    >
  </div>
</div>
