---
import { constants } from '../config'
---

<section class="page-padding flex items-center flex-wrap gap-6 py-8">
  <h3 class="text-2xl md:text-3xl me-auto">
    Segueix-me a Instagram per saber-ne més o envia'm un email
  </h3>

  <div class="text-xl flex gap-8 items-center">
    <div class="text-6xl">💌</div>
    <div>
      <p>
        <span>instagram:</span>
        <a
          class="underline"
          href={`https://www.instagram.com/${constants.instagramId}/`}
          target="_blank"
        >
          @{constants.instagramId}
        </a>
      </p>

      <p>
        <span> email:</span>
        <a class="underline" href={`mailto:${constants.email}`}>
          {constants.email}
        </a>
      </p>
    </div>
  </div>
</section>

<hr />

<footer class="page-padding mx-auto bg-dark text-soft">
  <nav class="py-8 flex flex-col text-sm">
    <ul>
      <li>
        <a href="/reserva">reserva</a>
      </li>
      <li>
        <a href="/sobre-mi">sobre mi</a>
      </li>
      <li>
        <a href="/tallers">tallerets</a>
      </li>
      <li>
        <a href="/contacte">contacte</a>
      </li>
      <li>
        <a href={`mailto:${constants.email}`}>email</a>
      </li>
      <li>
        <a href="/politica-de-privacitat">política de privacitat</a>
      </li>
    </ul>
  </nav>
</footer>
<div
  class="page-padding bg-dark border-t border-soft text-soft text-xs py-4 flex gap-4 justify-between"
>
  <p>
    disseny i desenvolupament web per
    <a class="underline" href={constants.authorLink}> @aymyo</a>
  </p>
  <p>Barcelona, 2023</p>
</div>

<style>
  li {
    margin: 0.5rem 0;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
