---
import { getLangFromUrl, removeLangFromSlug, useTranslatedPath } from '../utils'

const { taller } = Astro.props
const { id, data, slug } = taller
const { title, image, links } = data

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const correctedSlug = translatePath('/tallers') + removeLangFromSlug(slug)
---

<li
  class="odd:rotate-2 even:-rotate-2 text-soft hover:rotate-0 transition-all list-none"
>
  <div
    id={id}
    class={`hover:text-soft bg-dark max-w-[32rem] max-h-[32rem] rounded-xl flex flex-col sm:flex-col relative`}
  >
    <div class="p-5 flex flex-col">
      <div class="h-[40%] w-full rounded bg-dark">
        <img
          class="h-[12rem] w-[32rem] object-cover rounded-lg mb-4"
          src={image.url}
          alt={image.alt}
        />
      </div>
      <h6 class="text-3xl font-bold">{title}</h6>
      <div class="mt-4 flex gap-4">
        <a href={links[0].url} class="btn text-md text-dark bg-soft">
          {links[0].text}
        </a>
        <a href={correctedSlug} class="btn text-md text-soft"> Més info</a>
      </div>
    </div>
  </div>
</li>

<style>
  .btn {
    @apply block border-2 rounded-full text-center px-5 pb-[0.4rem] pt-[0.4rem] hover:border-red hover:text-red transition-transform;
  }
</style>
