---
interface Props {
  id: string
  title: string
  desc: string
  imgSrc: string
  imgAlt: string
  data?: string
  href?: string
}
const { id, title, desc, imgSrc, imgAlt, data, href } = Astro.props

const cursorClass = href ? 'hover:cursor-pointer' : ''
---

<li
  class="odd:rotate-1 even:-rotate-1 text-soft hover:rotate-0 transition-all list-none"
>
  <a
    id={id}
    href={href}
    title="Reservar per el seguent talleret"
    class={`${cursorClass} border bg-dark max-w-[40rem] min-h-[26rem] rounded-md flex flex-col sm:flex-row relative`}
  >
    <div
      class="cursor min-w-24 h-24 absolute hidden rounded-full border border-red bg-dark justify-center items-center text-red top-2/3"
    >
      <p>reserva!</p>
    </div>

    <div class="p-8 flex flex-col">
      <p class="uppercase text-2xl">{title}</p>
      <div class="py-5 mb-auto">
        {desc}
      </div>
      {data && <p class="font-mono italic uppercase">{data}</p>}
    </div>
    <div
      class="min-w-[40%] md:w-[40%] h-[14rem] sm:h-[26rem] bg-dark rounded-b sm:rounded-e sm:rounded-bl-none"
    >
      <img
        class="pointer-events-none cursos-none w-full h-full border-soft object-cover rounded-b border-t sm:rounded-e sm:rounded-bl-none sm:border-s sm:border-t-0"
        src={imgSrc}
        alt={imgAlt}
      />
    </div>
  </a>
</li>

<style>
  .postcard {
    transition:
      transform 0.3s,
      border-color 0.3s;
  }
  li:hover .cursor {
    transition: display 1s ease-in-out;
    display: flex;
    border-color: var(--color-red);
    rotate: -25deg;
    left: 52.6%;
    top: 66%;
  }
</style>
