---
import { getLangFromUrl, removeLangFromSlug, useTranslatedPath } from '../utils'

const { taller } = Astro.props
const { id, data, slug } = taller
const { title, image, desc } = data

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const correctedSlug = translatePath('/tallers') + removeLangFromSlug(slug)

const cursorClass = slug ? 'hover:cursor-pointer' : ''
---

<li class="rotate-2 text-soft hover:rotate-0 transition-all list-none">
  <a
    id={id}
    href={correctedSlug}
    title="Reservar per el seguent talleret"
    class={`${cursorClass} hover:text-soft bg-dark max-w-[32rem] max-h-[32rem] rounded-md flex flex-col sm:flex-col relative`}
  >
    <div class="p-5 flex flex-col">
      <p class="text-3xl font-bold mb-4">{title}</p>
      <div class="h-[40%] w-full rounded bg-dark">
        <img
          class="h-[12rem] w-[32rem] object-cover rounded-2xl mb-4"
          src={image.url}
          alt={image.alt}
        />
      </div>
      <div class="mb-auto text-lg">
        {desc}
      </div>
    </div>
  </a>
</li>
