---
import { getLangFromUrl, removeLangFromSlug, useTranslatedPath } from '../utils'

type Props = {
  taller: any
  infoBtn?: string
}
const { taller, infoBtn } = Astro.props
const { id, data, slug } = taller
const { title, image, links } = data

const lang = getLangFromUrl(Astro.url)
const translatePath = useTranslatedPath(lang)

const correctedSlug =
  translatePath(`/${taller.collection}`) + removeLangFromSlug(slug)
---

<li
  class="md:odd:rotate-2 md:even:-rotate-2 text-soft hover:rotate-0 transition-all list-none"
>
  <div
    id={id}
    class="hover:text-soft bg-dark max-w-[32rem] max-h-[32rem] rounded-xl flex flex-col sm:flex-col relative"
  >
    <div class="p-3 md:p-5 flex flex-col">
      <div class="h-[40%] w-full rounded bg-dark">
        <a href={correctedSlug}>
          <img
            class="h-[12rem] w-[32rem] object-cover rounded-lg"
            src={image.url}
            alt={image.alt}
          />
        </a>
      </div>
      <h6 class="my-2 md:my-4 text-2xl md:text-3xl font-bold">{title}</h6>
      <div class="flex gap-2 md:gap-4 flex-wrap">
        <a
          href={links[0].url}
          class="btn flex items-center text-md text-dark bg-soft"
        >
          {links[0].text}
        </a>
        {
          infoBtn && (
            <a href={correctedSlug} class="btn text-md text-soft">
              {infoBtn}
            </a>
          )
        }
      </div>
    </div>
  </div>
</li>
