---
import Favicon from './_partials/Favicon.astro'
import { getLangFromUrl } from '../utils'
import '../styles/main.css'

interface Props {
  title: string
  description: string
}
const { title, description } = Astro.props
const lang = getLangFromUrl(Astro.url)
const scrollClass =
  import.meta.env.MODE !== 'development' ? 'scroll-smooth' : ''
---

<!doctype html>
<html lang={lang} dir="ltr" class={`${scrollClass} bg-dark`}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <Favicon />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tallerets.com/" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content="/img/thumb.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.tallerets.com/" />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content="/img/thumb.png" />
  </head>
  <body class="font-serif bg-soft text-dark relative w-100 overflow-x-hidden">
    <slot />
    <style is:global>
      .page-padding {
        @apply px-4 sm:px-6 md:px-8;
      }
      .c-button {
        @apply border-2 rounded-lg text-center text-xl md:text-2xl px-4 pb-2 pt-[0.4rem] hover:-rotate-3 hover:border-red hover:text-red transition-all font-[500];
      }
    </style>
{Astro.url.pathname.includes('/tallers') && <script is:inline src="https://zenamu.com/calendar/workshops.js" crossorigin></script>}
  </body>
</html>
