---
import LinkList from '../components/LinkList.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header/Header.astro'
import BaseLayout from './BaseLayout.astro'

const { title, desc, image, links } = Astro.props
---

<BaseLayout title={title} description={desc}>
  <Header />
  <main
    class="flex flex-col md:flex-row items-center justify-center gap-28 pb-16 page-padding min-h-[calc(100vh-8rem)]"
  >
    {
      image && (
        <img width="288" class="w-56 md:w-72" src={image.url} alt={image.alt} />
      )
    }
    <div class="max-w-[48rem]">
      <h1 class="text-4xl md:text-6xl mb-4 font-medium">{title}</h1>
      <p class="text-3xl mt-8">
        {desc}
      </p>
      {links && <LinkList links={links} />}
    </div>
  </main>

  <hr />
  <Footer />
</BaseLayout>
