---
import Footer from '../components/Footer.astro'
import HeroHeader from '../components/Header/HeroHeader.astro'
import Layout from './BaseLayout.astro'
import { getLangFromUrl } from '../utils'
import { getEntry, render } from 'astro:content'
import Highlights from '../components/Highlights.astro'

const lang = getLangFromUrl(Astro.url)

const bioSection = await getEntry('components', `${lang}/partial_homebio`)
if (!bioSection) {
  throw new Error(`Bio section not found`)
}
const heroSection = await getEntry('components', `${lang}/partial_homehero`)

const renderedBio = await render(bioSection)
---

<Layout
  title="Tallerets - Tallers Creatius a Barcelona"
  description={heroSection?.data.desc || ''}
>
  <main>
    <HeroHeader />

    <section id="bio" class="page-padding mx-auto pt-16 md:pt-20">
      <h2 class="text-4xl md:text-5xl text-center md:leading-tight font-[500]">
        {bioSection.data.other?.title1}
        <br />
        {bioSection.data.other?.title2}
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>

      <div
        class="flex flex-wrap md:flex-nowrap gap-16 md:gap-28 items-center justify-center mt-16"
      >
        <img
          width="320"
          height="328"
          class="min-w-[320px] border-4 border-dark bg-dark rounded"
          src={bioSection.data.image?.url}
          alt={bioSection.data.image?.alt}
        />
        <div class="text-2xl md:text-3xl max-w-[20ch]">
          <renderedBio.Content />
        </div>
      </div>

      <h3
        id="tallers"
        class="py-16 text-4xl md:text-5xl text-center md:leading-tight font-[500]"
      >
        {bioSection.data.other?.subtitle}
      </h3>
      <div class="flex items-center justify-center">
        <Highlights />
      </div>
    </section>

    <hr />
    <Footer />
  </main>
</Layout>
