---
import Footer from '../components/Footer.astro'
import HeroHeader from '../components/Header/HeroHeader.astro'
import Layout from './BaseLayout.astro'
import {
  getLangFromUrl,
  removeLangFromSlug,
  useTranslatedPath,
  useTranslations,
} from '../utils'
import { getEntry } from 'astro:content'
import SectionCard from '../components/SectionCard.astro'

const lang = getLangFromUrl(Astro.url)

const aMidaSection = await getEntry('sections', `${lang}/a-mida`)
const clubSection = await getEntry('sections', `${lang}/club`)
const empresesSection = await getEntry('sections', `${lang}/empreses`)
const monoSection = await getEntry('sections', `${lang}/partial_tallersmono`)
const intensiusSection = await getEntry('sections', `${lang}/intensius`)
const curstetsSection = await getEntry('sections', `${lang}/cursets`)


const bioSection = await getEntry('sections', `${lang}/partial_homebio`)
const heroSection = await getEntry('sections', `${lang}/partial_homehero`)


const rendered = await bioSection?.render()

const translatePath = useTranslatedPath(lang)
const tallersUrl = translatePath('/tallers')
---

<Layout
  title="Tallerets - Tallers Creatius a Barcelona"
  description={heroSection?.data.desc || ''}
>
  <main>
    <HeroHeader />

    <section id="bio" class="page-padding mx-auto pt-16 md:pt-20">
      <h2 class="text-4xl md:text-5xl text-center md:leading-tight font-[500]">
        {bioSection?.data.other.title1}
        <br />
        {bioSection?.data.other.title2}
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>

      <div
        class="flex flex-wrap md:flex-nowrap gap-16 md:gap-28 items-center justify-center mt-16"
      >
        <img
          width="320"
          height="328"
          class="min-w-[320px] border-4 border-dark bg-dark rounded"
          src={bioSection?.data.image.url}
          alt={bioSection?.data.image.alt}
        />
        <div class="text-2xl md:text-3xl max-w-[20ch]">
          {rendered && <rendered.Content />}
        </div>
      </div>

      <h3
        id="tallers"
        class="py-16 text-4xl md:text-5xl text-center md:leading-tight font-[500]"
      >
        {bioSection?.data.other.subtitle}
      </h3>
      <div class="flex items-center justify-center">
        <ul
          class="pb-12 md:pb-32 flex gap-8 justify-center flex-wrap px-4 max-w-[80ch]"
        >
          {
            aMidaSection && (
              <SectionCard
                title={aMidaSection.data.title}
                desc={aMidaSection.data.desc}
                href={
                  lang == 'ca'
                    ? removeLangFromSlug(aMidaSection.slug)
                    : '/' + aMidaSection.slug
                }
                image={aMidaSection.data.image}
              />
            )
          }

          {
            clubSection && (
              <SectionCard
                title={clubSection.data.title}
                desc={clubSection.data.desc}
                href={
                  lang == 'ca'
                    ? removeLangFromSlug(clubSection.slug)
                    : '/' + clubSection.slug
                }
                image={clubSection.data.image}
              />
            )
          }

          {
            empresesSection && (
              <SectionCard
                title={empresesSection.data.title}
                desc={empresesSection.data.desc}
                href={
                  lang == 'ca'
                    ? removeLangFromSlug(empresesSection.slug)
                    : '/' + empresesSection.slug
                }
                image={empresesSection.data.image}
              />
            )
          }

          <SectionCard
            title={monoSection.data.title}
            desc={monoSection.data.desc}
            href={tallersUrl}
            image={{ url: '/icons/potet.svg', alt: '' }}
          />

          {
            intensiusSection && (
              <SectionCard
                title={intensiusSection.data.title}
                desc={intensiusSection.data.desc}
                href={
                  lang == 'ca'
                    ? removeLangFromSlug(intensiusSection.slug)
                    : '/' + intensiusSection.slug
                }
                image={intensiusSection.data.image}
              />
            )
          }
        </ul>
      </div>
    </section>

    <hr />
    <Footer />
  </main>
</Layout>
