---
import Mantainance from '../components/sections/Mantainance.astro'
import Favicon from './_partials/Favicon.astro'
import '@fontsource-variable/noto-serif'
import { config } from '../config'

interface Props {
  title: string
  description: string
}

export const defaultTitle =
  'tallerets – tallers creatius a Barcelona per desconectar'
export const defaultDescription =
  'Per crear no cal experiència ni cap habilitat especial, només ganes de passar una estona amb tu mateixa.'
const { title, description } = Astro.props
const scrollClass =
  import.meta.env.MODE !== 'development' ? 'scroll-smooth' : ''
---

<!doctype html>
<html lang="ca" dir="ltr" class={`${scrollClass} bg-dark`}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, viewport-fit=cover"
    />
    <Favicon />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={defaultTitle} />
    <meta name="description" content={description} />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tallerets.com/" />
    <meta property="og:title" content={defaultTitle} />
    <meta property="og:description" content={defaultDescription} />
    <meta property="og:image" content="/img/thumb.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://www.tallerets.com/" />
    <meta property="twitter:title" content={defaultTitle} />
    <meta property="twitter:description" content={defaultDescription} />
    <meta property="twitter:image" content="/img/thumb.png" />
  </head>
  <body class="font-serif bg-soft text-dark relative w-100 overflow-x-hidden">
    {config.maintenance ? <Mantainance /> : <slot />}
    <style is:global>
      .page-padding {
        @apply px-4 sm:px-6 md:px-8;
      }
      .c-button {
        @apply border rounded-full text-center text-xl md:text-2xl px-4 pb-2 pt-[0.35rem] hover:-rotate-3 hover:border-red hover:text-red transition-all;
      }
    </style>
  </body>
</html>
