---
import Footer from '../components/Footer.astro'
import BaseLayout from './BaseLayout.astro'
import Header from '../components/Header/Header.astro'
import LinkList from '../components/LinkList.astro'
import Prose from '../components/Prose.astro'

const { taller, tipus } = Astro.props
const { Content } = await taller.render()
const { title, desc, image, links } = taller.data
---

<BaseLayout title={title} description={desc}>
  <Header />
  <section class="page-padding md:max-w-[72ch] mx-auto pt-4 mb-16">
    <p class="text-2xl font-bold underline text-center">{tipus}</p>
    <h1
      class="text-4xl md:text-5xl text-center md:leading-tight font-[500] max-w-[16ch] mt-4 mb-10 mx-auto"
    >
      {title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h1>

    <img
      width="1152"
      height="288"
      class="mb-8 h-[16rem] w-full object-cover rounded-2xl mx-auto border-8 border-dark bg-dark"
      src={image.url}
      alt={image.alt}
    />

    <div>
      <Prose>
        <Content />
      </Prose>
    </div>

    {links && <LinkList links={links} />}
  </section>

  <Footer />
</BaseLayout>
