---
import Layout from './BaseLayout.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header/Header.astro'
import TallerPostcard from '../components/TallerCard.astro'
import { getLangFromUrl } from '../utils'
import { getCollection } from 'astro:content'
import { NextEvents } from '../components/NextEvents'
import Highlights from '../components/Highlights.astro'
import { contacts } from '../data/contact'

const { frontmatter } = Astro.props
const lang = getLangFromUrl(Astro.url)
const allTallers = await getCollection('tallers', ({ id }: { id: string }) => {
  return id.startsWith(lang)
})
const events = await getCollection('events').then((events) =>
  events.sort((event) => {
    const date = new Date(event.data.date)
    return Date.now() - date.getTime()
  }),
)
const { email } = contacts
---

<Layout
  title={frontmatter.title || 'Tallers'}
  description={frontmatter.desc || ''}
>
  <Header className="bg-soft text-dark relative" />
  <main>
    <h1
      class="pt-4 text-4xl md:text-6xl md:text-center md:leading-tight font-[500] px-2"
    >
      {frontmatter.title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h1>

    <p
      class="md:text-center md:text-lg mt-4 mb-6 md:mt-8 md:mb-10 max-w-[70ch] mx-auto px-2"
    >
      {frontmatter.desc}
    </p>

    <div id="zenamu-calendar" calendar-id="54e2a89a153ba46e3a14c5e3e4e3e034" class="max-w-[70ch] mx-auto px-2"></div>

    <NextEvents
      events={events}
      showMoreText="Reserva"
      noShowsText={`Ara mateix no hi ha tallers monogràfics programats, contacta a ${email} si vols que en programem un!`}
      lang={lang}
      limit={6}
    />

    {
      frontmatter.links && frontmatter.links.length && (
        <div class="flex items-center justify-center mt-8 sm:mt-16 px-2 text-center">
          <a
            href={frontmatter.links[0].url}
            class="block border-2 px-4 py-3 rounded-lg text-xl sm:text-2xl font-bold hover:-rotate-3 transition-transform"
          >
            {frontmatter.links[0].text}
          </a>
        </div>
      )
    }
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <ul
        class="page-padding flex flex-wrap gap-4 md:gap-10 pt-6 pb-12 overflow-hidden items-center justify-center"
      >
        {
          allTallers.map((taller: any) => (
            <TallerPostcard
              taller={taller}
              infoBtn={frontmatter.other.infoBtn}
            />
          ))
        }
      </ul>
    </section>
    <section
      class="my-4 lg:my-12 flex flex-col items-center justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <h2
        class="text-3xl mb-12 md:text-4xl text-center md:leading-tight font-[500]"
      >
        {frontmatter.other.subtitle}
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>
      <Highlights />
    </section>

    <hr />
    <Footer />
  </main>
  <script is:inline src="https://zenamu.com/calendar/list.js" crossorigin="anonymous"></script>
</Layout>
