---
import Layout from './BaseLayout.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header/Header.astro'
import TallerPostcard from '../components/TallerCard.astro'
import { getLangFromUrl, removeLangFromSlug } from '../utils'
import { getCollection, getEntry } from 'astro:content'
import SectionCard from '../components/SectionCard.astro'

interface Props {
  colection: 'tallers' | 'curs'
  sections: string[]
}

const { colection, sections } = Astro.props

const lang = getLangFromUrl(Astro.url)

const thisSection = await getEntry('sections', `${lang}/${colection}`)
const allTallers = await getCollection(colection, ({ id }) => {
  return id.startsWith(lang)
})

const sectionsData = await Promise.all(
  sections.map((section) => getEntry('sections', `${lang}/${section}`)),
)
---

<Layout
  title={thisSection?.data.title || 'Tallers'}
  description={thisSection?.data.desc || ''}
>
  <Header className="bg-soft text-dark relative" />
  <main>
    <h1
      class="pt-4 text-4xl md:text-6xl text-center md:leading-tight font-[500]"
    >
      {thisSection?.data.title}
      <span>
        <img
          width="48"
          height="48"
          class="w-12 inline text-sm"
          src="/icons/flor.svg"
          alt=""
        />
      </span>
    </h1>
    <section
      class="my-4 lg:my-12 flex md:justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <ul
        class="page-padding flex flex-wrap gap-10 pt-6 pb-12 overflow-hidden items-center justify-center"
      >
        {
          allTallers.map((taller) => (
            <TallerPostcard taller={taller} colection={colection} />
          ))
        }
      </ul>
    </section>
    <section
      class="my-4 lg:my-12 flex flex-col items-center justify-center flex-wrap gap-x-16 gap-y-4"
    >
      <h2
        class="text-3xl mb-12 md:text-4xl text-center md:leading-tight font-[500]"
      >
        {thisSection?.data.other.secondTitle}
        <span>
          <img
            width="48"
            height="48"
            class="w-12 inline text-sm"
            src="/icons/flor.svg"
            alt=""
          />
        </span>
      </h2>
      <ul
        class="pb-12 md:pb-32 flex gap-8 justify-center flex-wrap px-4 max-w-[80ch]"
      >
        {
          sectionsData.map((section) => {
            const hasCustomSlug = !!section?.data.customSlug
            const defaultSlug =
              lang == 'ca'
                ? removeLangFromSlug(section?.slug || '')
                : '/' + section?.slug
            const href = hasCustomSlug ? section?.data.customSlug : defaultSlug
            return (
              section && (
                <SectionCard
                  title={section.data.title}
                  desc={section.data.desc}
                  href={href || ''}
                  image={section.data.image}
                />
              )
            )
          })
        }
      </ul>
    </section>
  </main>

  <hr />
  <Footer />
</Layout>
